<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
              <button style="margin-left: 20px;" routerLink="/employees" class="btn btn-info">All Employees</button>
              <button style="margin-left: 50px;" routerLink="/addEmployee" class="btn btn-info">Add Employee</button>
              <button style="margin-left: 50px;" routerLink="/websocket" class="btn btn-info">WebSocket</button>
              <button style="margin-left: 20px;" routerLink="/employeelist" class="btn btn-info">All Employees With materials table</button>
          </ul>
        </div>
      </div>
<!--       <app-employees (selectedEmployeeEvent)="updateEmployee($event)"></app-employees> -->
<!--       <app-employeeform></app-employeeform> -->
           <router-outlet></router-outlet>


    </div>
  </div>
</div>