<div class="card my-5">
  <div class="card-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" id="myForm">

      <div class="form-group">
        <label for="name" style="display: block;">Name:</label>
        <input [(ngModel)]="employee.name" class="form-control" id="name"
               name="name"
               placeholder="Enter your name"
               required
               style="width:50%;margin-top: 10px;"
               type="text">
      </div>
      <!--       <div [hidden]="!name" class="alert alert-danger">Name is required</div> -->

      <div class="form-group">
        <label for="age" style="display: block;">Age:</label>
        <input [(ngModel)]="employee.age" class="form-control" id="age"
               name="age"
               placeholder="Enter your age"
               style="width:50%;margin-top: 10px;"
               type="number">
      </div>

      <div class="form-group">
        <label for="gender" style="display: block;">Gender:</label>
        <input [(ngModel)]="employee.gender" class="form-control" id="gender"
               name="gender"
               placeholder="Enter your gender"
               style="width:50%;margin-top: 10px;"
               type="text">
      </div>


      <div class="form-group">
        <label for="position" style="display: block;">Position:</label>
        <input [(ngModel)]="employee.job" class="form-control" id="position"
               name="position"
               placeholder="Enter your position here"
               required
               style="width:50%;margin-top: 10px;"
               type="text">
      </div>
      <button class="btn btn-info" style="margin-top: 10px;width:80px;"
              type="submit">Submit
      </button>
    </form>
  </div>
</div>


